@model List<BookReader.Models.Reader>

@{
    ViewBag.Title = "List";
}

<h1>List of Readers</h1>

<form class="form-inline my-2 my-lg-0 search_area" action="/Reader/List" method="GET">
    <input class="form-control mr-sm-2" type="text" placeholder="Search" name="search" value="@Request.QueryString["search"]">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
</form>
<div class="link-new">
        <a class="btn btn-primary" href="/Reader/Create">Add New Reader</a>
</div>
<div class="total_count">
    Total Readers:<span>@Model.Count().ToString()</span>
</div>
<ul class="listpage">
  
        <li class="table-primary">
           
            <div><a href="List?search=@Request.QueryString["search"]&sortOrder=first_name">First Name</a></div>
            <div><a href="List?search=@Request.QueryString["search"]&sortOrder=last_name">Last Name</a></div>
            <div><a href="List?search=@Request.QueryString["search"]&sortOrder=address">Address</a></div>
            <div><a href="List?search=@Request.QueryString["search"]&sortOrder=phone">Phone</a></div>
            <div>Action</div>
        </li>
 
    

        @foreach (var item in Model)
        {
                <li class="">
              
                <div>@item.ReaderFname</div>
                <div>@item.ReaderLname</div>
                <div>@item.ReaderAddress</div>
                <div>@String.Format("{0:(###) ###-####}", @item.ReaderPhone)</div>
                <div>
                    <a href="/Reader/Update/@item.ReaderId"><img src="https://img.icons8.com/windows/32/000000/edit.png">Update</a>
                    <a href="/Reader/Details/@item.ReaderId"><img src="https://img.icons8.com/windows/32/000000/visible.png">Details</a>
                    <a href="/Reader/Delete/@item.ReaderId"><img src="https://img.icons8.com/windows/32/000000/delete-forever.png">Delete</a>
                </div>
            </li>
        }
  
</ul>
@*<a href="/List?page=1">2</a>*@
